@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@{
    ViewData["Title"] = "Log in";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Login using...</h3>
    </div>
    <div class="panel-body signin">
        <section>
            <p>TerrainFlow does not require registration, you simply sign in using one of the supporters account types.</p>
            <p>We save no information about you, we only associate your projects with this account.</p>
        </section>
        <section>
            <form action="/signin" method="post">
                <input type="hidden" name="Provider" value="Microsoft"/>
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl"/>

                <button type="submit" class="btn btn-default btn-raised" name="provider" type="submit">Microsoft Account</button>
            </form>
            <br/>
            <form action="/signin" method="post">
                <input type="hidden" name="Provider" value="Google"/>
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl"/>

                <button type="submit" class="btn btn-default btn-raised" name="provider" type="submit">Google Account</button>
            </form>
                <!--
            <form action="/signin" method="post">
                <input type="hidden" name="Provider" value="Facebook" />
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

                <button type="submit" class="btn btn-default btn-raised" name="provider" type="submit">Facebook</button>
            </form>    -->
        </section>
    </div>
</div>