@{
    ViewData["Title"] = "Home Page";
}


<div class="hero">
    <h1>Open Source Surface Water Visualization</h1>
    <h2>TerrainFlow Beta is an early preview of tooling that allows cloud based processing and visualization of surface water flow over imported terrain models</h2>
</div>    <br />
               <hr />
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>Cloud Data Processing</h3>
            <p>Your GeoTiff and OBJ files are processed and stored on our servers allowing you to access the simulation from anywhere.</p>
        </div>
        <div class="col-md-4">
            <h3>3D Visualization</h3>
            <p>Unity based 3D visualization of surface water works entirely in-browser and requires no special plugins.  You can also share links to your data with others.</p>            
        </div>
        <div class="col-md-4">
            <h3>Beta</h3>
            <p>This is an early preview of TerrainFlow.  New features and improvements are constantly being added.</p>            
        </div>
    </div>

