@using System.Security.Policy

@{
    ViewData["Title"] = "Add Project";
}

<script>
    Dropzone.options.dropzoneForm = {
        maxFilesize: 256,
        acceptedFiles: '.zip',
        dictInvalidFileType: 'Currently only zip files are accepted.  See instructions below.'
    }
</script>

<div class="panel panel-default">
    <div class="panel-body">
        <a class="btn btn-raised btn-sm" href="/Projects/" style="float:right;"><i class="material-icons">keyboard_arrow_left</i>Back to Project List</a>
        <h2>Add Project Files</h2>
        
        <p>This version of the beta only supports GeoTiff data in a zip file.  You should create a zip file that contains the files from your geotiff, typically .prj, .tfw, and .tif.  The maximum file size is 256MB.</p>
        <form action="@Url.Action("UploadProjectFiles", "Projects")" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
            <div class="fallback">
                <input type="file" name="files" multiple/>
                <input type="submit" value="Upload"/>
            </div>
        </form>
        <br />
        <h4>Additional instructions</h4>
        <h5>Using data from Pix4D</h5>
        <ol>
            <li>Ensure GeoTiff DSM output is enabled for your project</li>
            <li>Find the GeoTiff DSM output, typically at [project]/3_dsm_ortho/1_dsm/</li>
            <li>Select three files and add them to a zip archive.  dsm.prj, dsm.tfw, dsm.tif</li>
            <li>Name the zip file something appropriate for your project, and drag into the upload pane</li>
        </ol>                                                     

    </div>
</div>
