@using System.Security.Policy

@{
    ViewData["Title"] = "Projects";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Your Projects</h3>
    </div>
    <div class="panel-body projects">
        @if (Model.Projects.Count == 0)
        {
            <p>You don't have any projects yet.  Would you like to <a href="/Projects/Add">upload a file</a>?</p>
        }
        <a class="btn btn-raised btn-sm" href="/Projects/Add"><i class="material-icons">note_add</i>Upload</a>
        <ul>
            @foreach (var item in Model.Projects)
            {
                <li>
                    <span>@item.Name</span><img width="100" src="@(item.URL + ".jpg")" /><a href="~/player/index.html?uri=@item.URL" class="btn btn-raised btn-sm"><i class="material-icons">open_in_new</i> Open in TerrainFlow</a>
                </li>
            }
        </ul>
    </div>
</div>
